#hero{
    margin-top: 110px;
    background: linear-gradient(90deg,#35369B 0%,#6597CB 100%);
}

@media only screen and (max-width: 991px) {
    #hero{
        padding-block: 2em;
    }

    #hero .row{
        text-align: center;
        flex-direction: column-reverse !important;
    }
}

#hero-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-width: 991px) {
    #hero-text{
        align-items: center;
        text-align: center;
        padding-bottom: 1.5em;
    }
}

#hero-text h1{
    font-family: var(--font-primary);
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0.5em;
    color: white;
}

#hero-text p{
    margin-bottom: 1.7em;
    color: #9A9FA3;
}

#hero-text a{
    font-size: 1.2rem;
    text-align: center;
    color: #EBE0DB;
    background: linear-gradient(90deg,#6597CB 0%,#35369B 100%);
    padding: 10px 30px;
    border-radius: 50px;
    width: fit-content;
}
