#login{
    background-image: url(../../images//stacked-waves.svg);
    background-size: cover;
    padding-block: 13.8em;
    padding-bottom: 9em;
}

@media only screen and (max-width: 991px) {
    #login > div > div.row{
        text-align: center;
        flex-direction: column-reverse !important;
    }
}

#login form{
    padding: 2.5em;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 17px -5px rgba(0, 0, 0, 1);
}

@media only screen and (max-width: 991px) {
    #login form{
        padding: 1.5em;
    }
}

#login form h3{
    position: relative;
    margin-bottom: 1.5em;
    color: #35369B;
}

#login form h3::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -15px;
    width: 75px;
    height: 4px;
    border-radius: 50px;
    background: linear-gradient(90deg,#6597CB 0%,#35369B 100%);
}

#login input{
    margin-bottom: 2em;
    border-radius: 0px !important;
}

#login button{
    width: 100%;
    font-family: var(--font-primary);
    font-size: 1.2rem;
    color: white;
    padding: 0.375em 0.75em;
    border: 1px solid #dee2e6;
    border-radius: 30px;
    background: linear-gradient(90deg,#35369B 0%,#6597CB 100%);
    margin-bottom: 0.3em;
}

#login form p{
    font-size: 0.9rem;
    color: #7b7d7e;
}

#login form p > a{
    font-size: 1rem;
    color: var(--color-primary);
}