#contact-us{
    margin-top: 110px;
    background-color: white;
    position: relative;
}

@media only screen and (max-width: 991px) {
    #contact-us > div > div.row{
        text-align: center;
        flex-direction: column-reverse !important;
    }
}

#contact-us > div:nth-child(1){
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(90deg,#35369B 0%,#6597CB 100%);
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 29%, 0 59%);
    clip-path: polygon(0 100%, 100% 100%, 100% 29%, 0 59%);
}

#contact-us > div:nth-child(2){
    position: relative;
    z-index: 2;
}

#contact-us-header{
    text-align: center;
    padding-inline: 15em;
    padding-top: 2em;
}

@media only screen and (max-width: 991px) {
    #contact-us-header{
        text-align: center;
        padding-inline: 0em;
        padding-top: 2em;
    }
}

#contact-us-header h1{
    font-family: var(--font-primary);
    color: var(--color-primary);
    margin-bottom: 0.5em;
}

#contact-us-header p{
    margin-bottom: 1.5em;
    color: #9A9FA3;
}

#contact-us-header p > span{
    color: var(--color-primary);
}


#contact-us-form{
    padding: 2em;
    background-color: white;
    box-shadow: 0px 0px 25px -12px rgba(0, 0, 0, 1);
}

#contact-us-form h3{
    position: relative;
    margin-bottom: 1.5em;
    color: #35369B;
}

#contact-us-form h3::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -15px;
    width: 110px;
    height: 4px;
    border-radius: 50px;
    background: linear-gradient(90deg,#6597CB 0%,#35369B 100%);
}

#contact-us-form input{
    margin-bottom: 2em;
    border-radius: 0px !important;
}

#contact-us-form button{
    width: 100%;
    font-family: var(--font-primary);
    font-size: 1.2rem;
    color: white;
    padding: 0.375em 0.75em;
    border: 1px solid #dee2e6;
    background: linear-gradient(90deg,#35369B 0%,#6597CB 100%);
}

@media only screen and (max-width: 1199px) {
    #contact-us-form button {
        font-size: 1rem;
    }
}
