#navbar{
    padding: 1em;
    z-index: 100;
    background-color: rgb(250, 250, 250);
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-toggler:focus{
    box-shadow: 0px 0px 5px 5px #35369B
}

.navbar-toggler.collapsed{
    box-shadow: none;
}

.navbar-brand{
    width: 157px;
}

@media only screen and (max-width: 991px) {
    .navbar-brand{
        width: auto;
    }
}

.navbar-nav{
    margin-inline: auto;
}

.nav-link{
    position: relative;
    font-size: 1.1rem;
    font-weight: 700;
    margin-inline: 12px !important;
}

.nav-link::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 0%;
    height: 1.5px;
    background: linear-gradient(90deg,#6597CB 0%,#35369B 100%);
    transition: all 0.5s;
}

.nav-link:hover{
    color: #35369B;
}

.nav-link:hover::after{
    width: 100%;
}

.nav-link.active{
    color: #35369B !important;
}

.nav-link.active::after{
    width: 100%;
}


@media only screen and (max-width: 991px) {
    .nav-link{
        padding-inline: 8px !important;
    }
}

#nav-login-register{
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-login-register .nav-link{
    padding: 8px !important;
}

#nav-login-register p{
    margin-inline: -0.5em;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--color-primary);
}

/* rgb(238, 53, 52) */