#add-user{
    background-image: url(../../../images/stacked-waves.svg);
    background-size: cover;
    padding-top: 6em;
    padding-inline: 0.5em;
}

/* @media (min-width: 1023px) { */
@media (min-width: 1215px) {
	#add-user{
		padding-left: 250px;
        padding-right: 20px;
        padding-top: 3em;
        padding-bottom: 1em;
	}
}

#user-toggler{
    cursor: pointer;
    padding-inline: 1em;
}

.add-user-form{
    padding: 1.5em;
}

@media only screen and (max-width: 525px) {
    .add-user-form{
        padding: 0em;
        margin-top: 1em;
    }
}

@media only screen and (max-width: 991px) {
    .add-user-form > div > div.row{
        text-align: center;
        flex-direction: column-reverse !important;
    }
}

.add-user-form form{
    padding: 2.5em;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 17px -5px rgba(0, 0, 0, 1);
}

@media only screen and (max-width: 525px) {
    .add-user-form form{
        padding: 1.5em;
    }
}

.add-user-form form h3{
    position: relative;
    margin-bottom: 1.5em;
    color: #35369B;
}

.add-user-form form h3::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -15px;
    width: 75px;
    height: 4px;
    border-radius: 50px;
    background: linear-gradient(90deg,#6597CB 0%,#35369B 100%);
}

.add-user-form input{
    margin-bottom: 1.5em;
    border-radius: 0px !important;
}

.add-user-form button{
    width: 100%;
    font-family: var(--font-primary);
    font-size: 1.2rem;
    color: white;
    padding: 0.375em 0.75em;
    border: 1px solid #dee2e6;
    border-radius: 30px;
    background: linear-gradient(90deg,#35369B 0%,#6597CB 100%);
    margin-bottom: 0.3em;
}

.add-user-form form p{
    font-size: 0.9rem;
    color: #7b7d7e;
}

.add-user-form form p > a{
    font-size: 1rem;
    color: var(--color-primary);
}