#admin-home{
    padding-top: 6em;
    padding-inline: 1em;
    background-color: #f7f7ff;
    min-height: 100vh;
}

/* @media (min-width: 1023px) { */
@media (min-width: 1215px) {
	#admin-home{
		padding-left: 250px;
        padding-right: 20px;
        padding-block: 0.5em;
	}
}

#insight-cards{
    margin-bottom: 3em;
}

.insight-card{
    padding-block: 2em;
    padding-inline: 1.5em;
    border-radius: 10px;
    margin-top: 1em;
}

.insight-card h5{
    color: white;
    font-size: 1.1rem;
    font-weight: 400;
}

.insight-card h4{
    color: white;
    font-size: 1.5rem;
}


#nav-tabContent{
    background-color: white;
}

.tab-content{
    width: 100%;
}


#students-card{
    background: linear-gradient(to right, #8e2de2, #4a00e0);
}

#lecturer-card{
    background: linear-gradient( 45deg , #ee0979, #ff6a00);
}

#subject-card{
    background: linear-gradient( 45deg , #00b09b, #96c93d);
}

#exam-card{
    background: linear-gradient(to right, #f7971e, #ffd200);
}



#admin-home h2{
    font-size: 1.7rem;
    font-weight: 700;
    font-family: var(--font-primary);
    text-align: center;
    margin-block: 1em;
    color: var(--color-primary);
}