#courses{
    padding-top: 6em;
    padding-inline: 1em;
    background-color: #f7f7ff;
    min-height: 100vh;
}

/* @media (min-width: 1023px) { */
@media (min-width: 1215px) {
	#courses{
		padding-left: 235px;
        padding-right: 5px;
        padding-block: 0.5em;
	}
}

#courses h1{
    position: relative;
    font-family: var(--font-primary);
    margin-block: 1em;
}

#courses h1::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -15px;
    width: 95px;
    height: 4px;
    border-radius: 50px;
    background: linear-gradient(90deg,#6597CB 0%,#35369B 100%);
}

#courses-table-container{
    position: relative;
    transition: all 0.5s;
}

#courses-table-container > button{
    position: absolute;
    color: white;
    background: linear-gradient(90deg,#6597CB 0%,#35369B 100%);
    padding: 10px 30px;
    border: none;
    width: 100%;
    font-size: 1.2rem;
    transition: all 0.5s;
}

#courses-table-container:hover{
    margin-top: 6em;
}

#courses-table-container:hover > button{
    transform: translateY(-50px);
}

