#lecturers{
    padding-top: 6em;
    padding-inline: 1em;
    background-color: #f7f7ff;
    min-height: 100vh;
}

/* @media (min-width: 1023px) { */
@media (min-width: 1215px) {
	#lecturers{
		padding-left: 235px;
        padding-right: 5px;
        padding-block: 0.5em;
	}
}

#lecturers h1{
    position: relative;
    font-family: var(--font-primary);
    margin-block: 1em;
}

#lecturers h1::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -15px;
    width: 95px;
    height: 4px;
    border-radius: 50px;
    background: linear-gradient(90deg,#6597CB 0%,#35369B 100%);
}