#add-exam{
    padding-top: 6em;
    padding-inline: 1em;
    background-color: #f7f7ff;
    min-height: 100vh;
}

/* @media (min-width: 1023px) { */
@media (min-width: 1215px) {
	#add-exam{
		padding-left: 235px;
        padding-right: 5px;
        padding-block: 0.5em;
	}
}
