#step2{
    position: relative;
    padding-inline: 3em;
    padding-top: 3em;
    padding-bottom: 1.5em;
    margin-top: 5.5em;
    margin-bottom: 1em;
    margin-inline: 2em;
    border: 5px solid #333399;
}

#step2-update{
    position: relative;
    padding-inline: 3em;
    padding-top: 3em;
    padding-bottom: 1.5em;
    margin-top: 6em;
    margin-bottom: 1em;
    border: 5px solid #333399;
}

#step2::after{
    position: absolute;
    top: -55px;
    left: 50%;
    transform: translateX(-50%);
    content: "Exam Questions";
    font-family: var(--font-primary);
    font-size: 1.9rem;
    font-weight: 500;
    padding: 1em 2em;
    color: #333399;
    background-color: #f7f7ff;
}

#step2-update::after{
    position: absolute;
    top: -55px;
    left: 50%;
    transform: translateX(-50%);
    content: "Exam Questions";
    font-family: var(--font-primary);
    font-size: 1.9rem;
    font-weight: 500;
    padding: 1em 2em;
    color: #333399;
    background-color: #f7f7ff;
}

@media (max-width: 769px) {
    #step2{
        padding-top: 1.5em;
    }

    #step2::after{
        top: -30px;
        font-size: 1.35rem;
        padding: 0.5em 0.5em;
    }

}
@media (max-width: 989px) {
    #step2-update{
        padding-top: 1.5em;
    }

    #step2-update::after{
        top: -23px;
        font-size: 1rem;
        padding: 0.5em 0.5em;
    }
}

@media (max-width: 448px) {
    #step2{
        padding-inline: 1em;
    }

    #step2::after{
        content: none;
    }

    #step2-update{
        padding-inline: 1em;
    }

    #step2-update::after{
        content: none;
    }
}

.step2-back-button{
    width: 100%;
    font-family: var(--font-primary);
    font-size: 1.2rem;
    color: white;
    padding: 0.375em 0.75em;
    border: 1px solid #dee2e6;
    background: linear-gradient(90deg,#35369B 0%,#6597CB 100%);
}

.step2-next-button{
    width: 100%;
    font-family: var(--font-primary);
    font-size: 1.2rem;
    color: white;
    padding: 0.375em 0.75em;
    border: 1px solid #dee2e6;
    background: linear-gradient(90deg,#6597CB 0%,#35369B 100%);
}