.step3-back-button{
    width: 100%;
    font-family: var(--font-primary);
    font-size: 1.2rem;
    color: white;
    padding: 0.375em 0.75em;
    border: 1px solid #dee2e6;
    background: linear-gradient(90deg,#35369B 0%,#6597CB 100%);
}

.step3-create-exam-button{
    width: 100%;
    font-family: var(--font-primary);
    font-size: 1.2rem;
    color: white;
    padding: 0.375em 0.75em;
    border: 1px solid #dee2e6;
    background: linear-gradient(90deg,#6597CB 0%,#35369B 100%);
}