.circular-progress-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 767px) {
    .circular-progress-bar{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.circular-progress{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background: conic-gradient(from 0deg at 50% 50%, #7d2ae8 2deg, #ededed 0deg);
}   

@media (max-width: 767px) {
    .circular-progress{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        background: conic-gradient(from 0deg at 50% 50%, #7d2ae8 2deg, #ededed 0deg);
    }   
}

.circular-progress::before{
    content: "";
    position: absolute;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background-color: white;
}   

.progress-value{
    position: relative;
    font-size: 2rem;
    font-weight: 600;
    color: #7d2ae8;
}

@media (max-width: 767px) {
    .progress-value{
        position: relative;
        font-size: 3rem;
        font-weight: 600;
        color: #7d2ae8;
    }
}

.circular-progress-text{
    font-size: 1.5rem;
    font-weight: 500;
    color: #606060;
    margin-top: 0.5em;
}

@media (max-width: 767px) {
    .circular-progress-text{
        font-size: 2.5rem;
        font-weight: 500;
        color: #606060;
        margin-top: 0.5em;
    }    
}