#student-home{
    padding-top: 6em;
    padding-bottom: 2em;
    padding-inline: 1em;
    background-color: white;
}

/* @media (min-width: 1023px) { */
@media (min-width: 1215px) {
	#student-home{
		padding-left: 270px;
        padding-right: 40px;
        padding-block: 1em;
	}
}

#insight-cards{
    margin-bottom: 3em;
}

.insight-card{
    padding-block: 2em;
    padding-inline: 1.5em;
    border-radius: 10px;
    margin-top: 1em;
}

#student-home .insight-card h5{
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
}

.insight-card h4{
    color: white;
    font-size: 1.5rem;
}


#nav-tabContent{
    background-color: white;
}

.tab-content{
    width: 100%;
}


#course-1-card{
    background: linear-gradient(to right, #8e2de2, #4a00e0);
}

#course-2-card{
    background: linear-gradient( 45deg , #ee0979, #ff6a00);
}

#course-3-card{
    background: linear-gradient( 45deg , #00b09b, #96c93d);
}

#course-4-card{
    background: linear-gradient(to right, #f7971e, #ffd200);
}

#course-5-card{
    background: linear-gradient(to right, #0072ff, #00c6ff);
}

#course-6-card{
    background: linear-gradient(45deg, #ff6b6b, #ffe66d);
}


#student-home h2{
    font-size: 1.7rem;
    font-weight: 700;
    font-family: var(--font-primary);
    text-align: center;
    margin-block: 1em;
    color: var(--color-primary);
}